.addSkillIcon{
    background-color: #3dc0f1;
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
}

.skillPlusIcon{
    margin: auto;
    color: white;
}

.skillItem{
    display: inline-block;
    
    border-bottom-right-radius: .6em;
    border-bottom-left-radius: .6em;
    height: 1.2em;
    width: 95%;
    border-bottom: 1px solid #E8E8E8;
    padding: .6em;
    display: flex;
    margin-top: .5em;
    justify-content: space-between ;
}

.allItems{
    padding: 25px;
    border: 1px solid #E8E8E8;
    width: 55%;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-top-left-radius: .6em;
    border-top-right-radius: .6em;
    border-bottom-right-radius: .6em;
    border-bottom-left-radius: .6em;
}

.skillItem:first-child{
    margin-top: 0;
}

.skillIcon{
    color: #333;
    display: flex;
}

.interaction{
    width: 10%;
    display: flex;
    justify-content: space-between ;
}