h2 {
    margin: 20px 0;
}

.form {
    width: 70%;
    margin: 0 auto;
    border: 1px solid red;
}

#submit-button {
    width: 30%;
}

.education-header {
    display: flex;
    justify-content: space-between;
}

.education-icons {
    position: relative;
    top: 30px;
}