.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: #333;

    display: flex;
    justify-content: center;
    align-items: center;
}

.innerPopup{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 500px;
    background-color: #E8E8E8;
    border-top-left-radius: .6em;
    border-top-right-radius: .6em;
    border-bottom-right-radius: .6em;
    border-bottom-left-radius: .6em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.innerPopup .closeBtn{
    position: absolute;
    top:15px;
    right: 15px;
    background-color: #E8E8E8;
    border-top-left-radius: .6em;
    border-top-right-radius: .6em;
    border-bottom-right-radius: .6em;
    border-bottom-left-radius: .6em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.closeIcon{
    color:#333;
}