.projectsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 128px;
}

.projectBar{
    position: fixed;
    width: calc(100% - 256px);
    height: 96px;
    background-color: #fff;
    border-bottom: solid 1px #333;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.searchBarContainer{
    width: 70%;
    display: flex;
    margin-left: 64px;
    justify-content: flex-start;
    align-items: center;
}

.buttonContainer{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 64px;
}

.buttonWrapper{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    grid-gap: 16px;
}

.buttonWrapper > svg{
    color: #333;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.buttonWrapper > svg:hover{
    color: #3dc0f1;
}

@media screen and (max-width: 960px) {
    .projectBar{
        width: calc(100% - 64px);
    }

    .buttonContainer{
        margin-right: 16px;
    }

    .searchBarContainer{
        margin-left: 16px;
    }
}